<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do LIST</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
    form {
      margin-top: 20px;
    }
    label {
      display: block;
      margin-bottom: 8px;
    }
    input, select {
      margin-bottom: 12px;
    }
  </style>
</head>
<body>

  <h2>Task Table</h2>

  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Email</th>
        <th>Priority</th>
      </tr>
    </thead>
    <tbody>
        {% for x in toDoList %}
        <tr>
            {% for _ in x %}
            <td>{{ _ }}</td>
            {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <h2>Task Submit</h2>
  <form action="/submit" method="post">
    <label for="task">Task:</label>
    <input type="text" id="task" name="task" required>

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>

    <label for="priority">Priority:</label>
    <select id="priority" name="priority" required>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>

    <input type="submit" value="Add To-Do-Item">
  </form>
  <br>
  <h3>Save Data</h3>
  <form action="/save" method="post">
    <input type="submit" value="SAVE">
</form>
<br>
  <h3>Clear Data</h3>
  <form action="/clear" method="post">
    <input type="submit" value="CLEAR">
  </form>
  <br>
  
</body>
</html>